@import './styles/global';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.header {
  padding: 1em 0;
  margin-bottom: 200px;
  &__heading {
    font-size: 1.9em;
    letter-spacing: 1.2px;
  }
  &__subheading {
    color: rgb(223, 1, 223);
  }
}
.main-content {
  width: 75%;
  &__header {
    font-size: 40px;
    margin: 4vh 0 8vh;
  }
  &__sub {
    line-height: 1.9;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 2vh;
  }
  &__lead {
    opacity: 0.7;
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 1vh;
  }
}
.btn {
  border: none;
  background: none;
  padding: 1em 0;
  cursor: pointer;
}
.btn-primary {
  color: rgb(223, 1, 223);
  font-weight: 800;
  font-size: 0.8em;
}
